body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.map__wrapper{
    background: #00000052;
    height: 250px;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
}

.flex_wrapper{
    display: grid;
    grid-template-columns: 13% 13%  13% 13%  13% 13% 13%;
    grid-gap: 17px;
    width: 100% !important;
}

.map-wrap img{
    width: 100%;
}

.text{
    text-align: center;
    padding: 4px;
}